*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#header{
    height: 60px;
    padding: 2px 8px;
    background-color: rgb(220, 225, 225);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header div {
    display: flex;
}
.circle{
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin-left: 5px;
    margin-top: 5px;
}
#history{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    /* align-items: flex-end; */
    
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btncont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
}

.btncont input {
    width: 20p;
    background-color: red;
    padding: 5px 2px;
}